:root {
	--dark: #05152E;
	--darker: #1F2937;
	--darkest: #001E3C;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
	--background: #fffffff6;
	--teamlist: #e9f7ff; 
	--text: #2d3875; 
	--deletebutton: #de4e4e;
	--navbar: #565f90;
    --teamcolor: #3EADE0;
}

/* CSS for centering */
body {
    /*text-align: center;*/
}
/* CSS for indentation */
.indented {
    margin-left: 150px; /* Adjust the value as needed */
    text-align: left; /* Reset text alignment for indented text */
    margin-right: 60px;
}
.bullet-list {
    margin-left: 180px; /* Adjust the value to indent the bullets further */
    text-align: left; /* Reset text alignment for bullet list */
    list-style-position: inside; /* Ensure bullets are within the list */
}
/* CSS for box */
.capability-box {
    border: 1px solid black;
    padding: 10px;
    margin: 20px auto; /* Center the box */
    width: 80%; /* Adjust the width as needed */
}
/* CSS for input box */
.ranking-input {
    width: 50px; /* Adjust the width as needed */
}

.teamcolor {
    color: var(--teamcolor);
}

#longmetalfulllogo {
    width: 60%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#CADdiagram {
    width: 50%; 
    max-width: 500px;
    margin: auto;
}