:root {
  --dark: #05152e;
  --darker: #1f2937;
  --darkest: #001e3c;
  --grey: #6b7280;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --light: #eee;
  --background: #fffffff6;
  --teamlist: #e9f7ff;
  --text: #2d3875;
  --deletebutton: #de4e4e;
  --navbar: #565f90;
}

* {
  margin: 0;
  box-sizing: border-box;
}

#moreinfo {
  width: 80%;
  margin-left: 50px;
}

.teaminfo {
  margin-left: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: var(--navbar);
  font-family: "Montserrat", sans-serif;
  color: var(--background);
}

.topnav a {
  float: left;
  color: var(--background);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--background);
  color: var(--text);
}

header {
  padding: 2rem 1rem;
  /*background-color: var(--teamlist);*/
  /*max-width: 1000px;*/
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: monospace;
  color: var(--text);
  margin-bottom: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: monospace;
  font-size: 1.125rem;
}

h1 {
  text-align: center;
}

h2 {
  font-weight: 100;
  margin-left: 10px;
}

h3 {
  font-weight: 100;
}

.submit {
  background-color: var(--background);
  width: 20%;
  border-width: 1px;
  border-radius: 4px;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  color: var(--deletebutton);
  align-self: center;
}

.submit:hover {
  background-color: var(--teamlist);
}
